
.leemonlogo{
    width: 100px;
}
.distancia{
    padding-left: 20px;
}
.litlemargin{
    margin-top: 40px;
}
.main-section{
    /*background-color: #F8F8F8;*/
}
.bg-mega{
    background-color: #403d38;
}
.navbar-mega {
    overflow: hidden;
  }
  
  .navbar-mega a {
    float: left;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .favorites{
      font-size: 12px;
      color: #fca38f;
  }
  .favorites :hover{
    font-size: 12px;
    color: #292727;
}
.dropdown-mega {
    float: left;
    overflow: hidden;
}
.dropdown-mega .dropbtn {
   
    border: none;
    outline: none;
    color: #a8f29e;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}
.category{
    font-size: 12px;
}
.dropdown-mega-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 700px;
    /* left: 190px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}
.dropdown-mega-content .header-mega {
    background: #ffffff;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    color: #4a8b41;
}
.title-tam{
    font-size: 15px;
}
.title-tam2{
    font-size: 12px !important;
    color: #4a8b41;
    text-decoration: none;
}
.dropdown-mega:hover .dropdown-mega-content {
    display: block;
  }
/* Create three equal columns that floats next to each other */
.columna {
    float: left;
    width: 25%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #ffffff;
    height: 250px;
    
}

.columna a {
    float: none;
    color: rgb(48, 48, 48);
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.columna a:hover {
    color: #4a8b41;
    
}
/* Clear floats after the columns */

.row-mega{
    padding-left: 20px;
}
.row-mega:after {
    content: "";
    display: table;
    clear: both;
}
.dropdown{
    float:right;
    /*padding-right: 30px;*/
}
.btn{
    border:0px;
    /* margin:10px 0px; */
    box-shadow:none !important;
}
.btn-leemon-green{
    background-color: transparent !important;
    border: 1px solid #403d38 !important;
    color: #403d38 !important;
}
.btn-leemon-green:hover{
    background-color: #403d38 !important;
    border: 1px solid #403d38 !important;
    color: #fff !important;
}
.dropdown .dropdown-menu{
    padding:20px;
    top:56px !important;
    width:350px !important;
    left:-190px !important;
    box-shadow:0px 5px 30px black;
}
.total-header-section{
    border-bottom:1px solid #d2d2d2;
}
.total-section p{
    margin-bottom:20px;
}
.cart-detail{
    padding:10px 0px;
}
.cart-detail-img img{
    width:100%;
    height:100%;
    padding-left:10px;
}
.cart-detail-product p{
    margin:0px;
    color:#000;
    font-weight:500;
}
.cart-detail .price{
    font-size:12px;
    margin-right:10px;
    font-weight:500;
}
.cart-detail .count{
    color:#C2C2DC;
}
.checkout{
    border-top:1px solid #d2d2d2;
    padding-top: 15px;
}
.checkout .btn-primary{
    border-radius:50px;
    height:50px;
}
.dropdown-menu:before{
    content: " ";
    position:absolute;
    top:-20px;
    right:50px;
    border:10px solid transparent;
    border-bottom-color:#fff;
}
 
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}
 
.thumbnail img {
    width: 100%;
}
 
.thumbnail .caption{
    margin: 7px;
}
 
.page {
    margin-top: 50px;
}
 
.btn-holder{
    text-align: center;
}
 
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width: 20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }
 
    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }
 
    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }
 
 
 
    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}
 
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
/* galeria */
  .tabs{
    background-color:#f5f5f5;
    padding-top:30px;
    padding-bottom:30px;
  }
  
  .tabs .tab-pane{
    margin-left:20px;
  }
  
  .tabs h3{
    font-size:20px;
    margin-top:10px;
    margin-bottom:60px;
  }
  
  .tabs p{
    font-size:14px;
  }
  
  .tabs a{
    font-size:15px;
    font-family: "AcuminVariableConcept";
    font-weight:700;
    color:#fff;
    padding:5px;
  }
  
  .tabs li{
    background-color:rgb(128, 128, 128);
    margin-top:1px;
    text-align:center;
    height:110px;
    width:110px;
    padding-top:5px;
    -webkit-border-radius:3px;
    border-radius:3px;
  }
  
  .tabs li.active{
    background-color:#fff8bd;
  }
  
  .img-tam{
      max-width: 50px;
  }

  .img-tam2{
    max-width: 300px;
}
#father {
    position: relative;    /* para poder posicionar el texto de forma absoluta */
    display: inline-block; /* para que solo ocupe el ancho de la imagen */
  }
  .comentario {
    position: absolute;    /* posición absolute con respecto al padre */
    top: 45%;             /* posicionada en la esquina inferior derecha */
    left: 20%;
  }

  .price{
      font-size: 25px;
  }
  .price-color{
      font-weight: bold;
      color: rgb(12, 50, 155);
      font-size: 15px;
  }
  .info-small{
        font-size: 12px;    
  }
  .bg-purchase{
      background-color: rgb(218, 218, 218);
  }

  .img-product{
      width: 110px !important;
      height: 200px;
      margin-top: 10px;
  }
  
  .info-small2{
    font-size: 15px;    
}
.text-register{
    font-size: 13px !important;    
}
.text-register2{
    font-size: 11px !important;    
}