
.leemonlogo{
    width: 100px;
}
.distancia{
    padding-left: 20px;
}
.litlemargin{
    margin-top: 40px;
    margin-bottom: 40px;
}
.main-section{
    /*background-color: #F8F8F8;*/
}
.bg-mega{
    background-color: #403d38;
}
.navbar-mega {
    overflow: hidden;
  }
  
  .navbar-mega a {
    float: left;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .favorites{
      font-size: 12px;
      color: #fca38f;
  }
  .favorites :hover{
    font-size: 12px;
    color: #292727;
}
.dropdown-mega {
    float: left;
    overflow: hidden;
}
.dropdown-mega .dropbtn {
   
    border: none;
    outline: none;
    color: #a8f29e;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}
.category{
    font-size: 15px;
}
.class-100001{
    /* display: inline !important; */
    width: 600px;
    /* left: 190px; */
}
.class-100002{
    /* display: inline !important;  */
    width: 750px;
    /* left: 190px; */
}
.class-100003{
    /* display: inline !important;  */
    width: 600px;
    /* left: 190px; */
}
.class-100004{
    /* display: inline !important;  */
    width: 750px;
    left: 30%; 
}
.class-100005{
    /* display: inline !important;  */
    width: 600px;
    right: 40%; 
}
.class-100006{
    /* display: inline !important;  */
    width: 600px;
    right: 32%; 
}
.dropdown-mega-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    /* width: 700px;
     left: 190px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    border: 1px solid #7a7b7c;;
}
.dropdown-mega-content .header-mega {
    background: #ffffff;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    color: #4a8b41;
}
.title-tam{
    font-size: 15px;
}
.title-tam2{
    font-size: 12px !important;
    color: #4a8b41;
    text-decoration: none;
}
.dropdown-mega:hover .dropdown-mega-content {
    display: block;
  }
/* Create three equal columns that floats next to each other */
.line-left{
    border-left: 1px solid #d6d6d6;
}
.columna-100001{
    width: 33% !important;
}
.columna-100002{
    width: 20% !important;
}
.columna-100003{
    width: 33% !important;
}
.columna-100004{
    width: 25% !important;
}
.columna-100005{
    width: 100% !important;
}
.columna-100006{
    width: 25% !important;
}
.columna-img {
    float: left;
    width: 25%;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 0px;
    background-color: #ffffff;
    height: 250px;
    
}
.columna {
    float: left;
    width: 25%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #ffffff;
    height: 250px;
    
}

.columna a {
    float: none;
    color: rgb(48, 48, 48);
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.columna a:hover {
    color: #4a8b41;
    
}
/* Clear floats after the columns */

.row-mega{
    padding-left: 20px;
}
.row-mega:after {
    content: "";
    display: table;
    clear: both;
}
.dropdown{
    float:right;
    /*padding-right: 30px;*/
}
.btn{
    border:0px;
    /* margin:10px 0px; */
    box-shadow:none !important;
}
.btn-leemon-green{
    background-color: transparent !important;
    border: 1px solid #403d38 !important;
    color: #403d38 !important;
    border-radius: 0% !important;
}
.btn-leemon-green:hover{
    background-color: #403d38 !important;
    border: 1px solid #403d38 !important;
    color: #fff !important;
}
.btn-leemon-back{
    background-color: #403d38 !important;
    border: 1px solid #403d38 !important;
    color: #ffffff !important;
    border-radius: 0% !important;
}
.btn-leemon-back:hover{
    background-color: transparent !important;
    border: 1px solid #403d38 !important;
    color: #403d38 !important;
}
.btn-leemon-warning{
    background-color: #ceb600 !important;
    border: 1px solid #a18f01 !important;
    color: #ffffff !important;
    border-radius: 0% !important;
}
.btn-leemon-warning:hover{
    background-color: #a18f01 !important;
    border: 1px solid #a18f01 !important;
    color: #fff !important;
}
.btn-leemon-method{
    background-color: #007bff !important;
    border: 1px solid #0767ce !important;
    color: #ffffff !important;
    border-radius: 0% !important;
}
.btn-leemon-method:hover{
    background-color: #0767ce !important;
    border: 1px solid #007bff !important;
    color: #fff !important;
}
.btn-register{
    background-color: #a1a1a1 !important;
    border: 1px solid #a1a1a1 !important;
    color: #ffffff !important;
    border-radius: .25rem !important;
}
.btn-register:hover{
    background-color: #7e7e7e !important;
    border: 1px solid #7e7e7e !important;
    color: #ffffff !important;
    border-radius: .25rem !important;
}
.dropdown .dropdown-menu{
    padding:20px;
    top:56px !important;
    /* width:350px !important; */
    left:-190px !important;
    box-shadow:0px 5px 30px black;
}
.total-header-section{
    border-bottom:1px solid #d2d2d2;
}
.total-section p{
    margin-bottom:20px;
}
.cart-detail{
    padding:10px 0px;
}
.cart-detail-img img{
    width:100%;
    height:100%;
    padding-left:10px;
}
.cart-detail-product p{
    margin:0px;
    color:#000;
    font-weight:500;
}
.cart-detail .price{
    font-size:12px;
    margin-right:10px;
    font-weight:500;
}
.cart-detail .count{
    color:#919291;
}
.count{
    font-size: 12px;
}
.checkout{
    border-top:1px solid #d2d2d2;
    padding-top: 15px;
}
.checkout .btn-primary{
    border-radius:50px;
    height:50px;
}
.dropdown-menu:before{
    content: " ";
    position:absolute;
    top:-20px;
    right:50px;
    border:10px solid transparent;
    border-bottom-color:#fff;
}
 
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}
 
.thumbnail img {
    width: 100%;
}
 
.thumbnail .caption{
    margin: 7px;
}
 
.page {
    margin-top: 50px;
}
 
.btn-holder{
    text-align: center;
}
 
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width: 20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }
 
    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }
 
    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }
 
 
 
    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}
 
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
/* galeria */


    
.tabs2{
    background-color:#f5f5f5;
    padding-top:30px;
    padding-bottom:30px;
}
.tabs3 .tab-content{
    background-color:#f5f5f5;
    
}
.tabs3 .tab-content{
    padding: 20px;
}
.tabs3 li a{
    color: #495057;
}
.tabs3 li a.active{
    background-color:#f5f5f5 !important;
    
    /* box-shadow: 0 0 3px 2px #a8f29e; */
  }
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #4a8b41 !important;
    background-color: #f5f5f5 !important;
    border-color: #dee2e6 #dee2e6 #f5f5f5 !important;
}
  .tabs{
    background-color:#f5f5f5;
    padding-top:30px;
    padding-bottom:30px;
  }
  
  .tabs .tab-pane{
    margin-left:20px;
  }
  
  .tabs h3{
    font-size:20px;
    margin-top:10px;
    margin-bottom:60px;
  }
  
  .tabs p{
    font-size:14px;
  }
  
  .tabs a{
    font-size:12px;
    font-family: "AcuminVariableConcept";
    /* font-weight:700; */
    color:#fff;
    /* padding:5px; */
  }

  .tabs button{
    font-family: "AcuminVariableConcept2";
    font-size: 14px;
  }
  
  .tabs li{
    background-color:rgb(255, 255, 255);
    margin-top:5px;
    text-align:center;
    height:70px;
    width:70px;
    padding-top:5px;
    -webkit-border-radius:3px;
    border-radius:3px;

  }
  
  .tabs li.active{
    background-color:#ffffff;
    box-shadow: 0 0 3px 2px #a8f29e;
  }
  
  .img-tam{
      max-width: 60px;
      margin-left: 0px !important;
  }

  .img-tam2{
    max-width: 400px;
}
#father {
    position: relative;    /* para poder posicionar el texto de forma absoluta */
    display: inline-block; /* para que solo ocupe el ancho de la imagen */
  }
  .comentario {
    position: absolute;    /* posición absolute con respecto al padre */
    top: 45%;             /* posicionada en la esquina inferior derecha */
    left: 20%;
  }

  .price{
      font-size: 25px;
  }
  .price-color{
      font-weight: bold;
      color: #4a8b41;
      font-size: 15px;
  }
  .h3color{
    color: #4a8b41;
  }

  .btn-purchase{
    background-color: #4a8b41 !important;
    border: 1px solid #33642c !important;
    color: #fcfcfc !important;
    border-radius: .25rem !important;
    margin-right: 5px;
    font-family: "AcuminVariableConcept2";
    font-size: 14px;
}
.btn-purchase:hover{
    background-color: #246e1b !important;
    border: 1px solid #33642c !important;
    color: #fff !important;
    
}
.btn-wishlist{
    background-color: #fba38f !important;
    border: 1px solid #d8806c !important;
    color: #fcfcfc !important;
    border-radius: .25rem !important;
    margin-right: 5px;
}
.btn-wishlist:hover{
    background-color: #d8806c !important;
    border: 1px solid #fba38f !important;
    color: #fff !important;
}
  .info-small{
        font-size: 12px !important;    
  }
  .bg-purchase{
      background-color: rgb(218, 218, 218);
  }

  .img-product{
      width: 200px !important;
      height: 200px;
      margin-top: 10px;
  }
  .img-product2{
    width: 180px !important;
    height: 180px;
    margin-top: 10px;
}
  .info-small2{
    font-size: 15px;    
}
.text-register{
    font-size: 13px !important;    
}
.text-register2{
    font-size: 11px !important;    
}
.text-register3{
    font-size: 11px !important; 
    margin-top: 10px;   
}
.album{
    overflow: hidden;
}
.unique-color-dark{
    color: #fff
}
.line-footer{
    margin-top: 20px !important;
}

.link-a{
    color: #e0e0e0 !important;
}
.link-a:hover {
    color: #cac2c2 !important;
    text-decoration: underline;
}
#facebook-f{
    display: inline-block;
     width: 15px !important;
     margin-right: 15px;
    /* height: 134px; */
    background: url(/img/facebook-f-brands.svg); 
}
@supports (-webkit-mask: url("")) or (mask: url("")) {
    #facebook-f {
      -webkit-mask: url(/img/facebook-f-brands.svg); 
      mask: url(/img/facebook-f-brands.svg); 
      mask-size: cover;
      background: rgb(255, 255, 255);
    }
}
#google-plus{
    display: inline-block;
    width: 25px !important;
    margin-right: 15px;
    /* height: 134px; */
    background: url(/img/google-plus-brands.svg); 
}
@supports (-webkit-mask: url("")) or (mask: url("")) {
    #google-plus {
      -webkit-mask: url(/img/google-plus-brands.svg); 
      mask: url(/img/google-plus-brands.svg); 
      mask-size: cover;
      background: rgb(255, 255, 255);
    }
}

#twitter{
    display: inline-block;
    width: 25px !important;
    margin-right: 15px;
    /* height: 134px; */
    background: url(/img/twitter-brands.svg); 
}
@supports (-webkit-mask: url("")) or (mask: url("")) {
    #twitter {
      -webkit-mask: url(/img/twitter-brands.svg); 
      mask: url(/img/twitter-brands.svg); 
      mask-size: cover;
      background: rgb(255, 255, 255);
    }
}

#instagram{
    display: inline-block;
    width: 25px !important;
    height: 27px;
    margin-right: 15px;
    background: url(/img/instagram-brands.svg);
    top: 1px;
}

@supports (-webkit-mask: url("")) or (mask: url("")) {
    #instagram {
      -webkit-mask: url(/img/instagram-brands.svg); 
      mask: url(/img/instagram-brands.svg); 
      mask-size: cover;
      background: rgb(255, 255, 255);
    }
}
#secondary a, #routeCat a {
    color: #333;
}
.brand-size{
    font-family: "AcuminVariableConcept2";
    font-size: 12px;
}
.refinement li{
    list-style:none;
}

.a-divider{
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
}
.a-divider h5{
    line-height: 1;
font-size: 12px;
color: #767676;
font-weight: 400;
z-index: 2;
position: relative;
display: inline-block;
background-color: #fff;
padding: 0 8px 0 7px;
}
.a-divide {
	border-bottom: 1px solid #ddd
}
#cc_cvv::placeholder, #cc_number::placeholder, #cc_name::placeholder, #address_d::placeholder, #firstname::placeholder, #lastname::placeholder, #n_doc::placeholder, #email::placeholder, #address_db::placeholder, #zipcode::placeholder, #zipcode_e::placeholder, #phone::placeholder, #contact::placeholder {
    color:rgb(212, 212, 212);
}

#cc_cvv::-webkit-input-placeholder, #cc_number::-webkit-input-placeholder {
    color:rgb(212, 212, 212);
}
#cc_cvv::-moz-placeholder, #cc_number::-moz-placeholder {
    color:rgb(212, 212, 212);
}
#cc_cvv:-ms-input-placeholder, #cc_number::-ms-input-placeholder {
    color:rgb(212, 212, 212);
}
#cc_cvv:-moz-placeholder, #cc_number::-moz-placeholder {
    color:rgb(212, 212, 212);
}

.select-holder{
    color:rgb(212, 212, 212);
}
.h-card{
    max-width: 50%;
}
.h-card-address{
    max-width: 100%;
    min-height: 260px !important;
}
.h-card-credit{
    max-width: 100%;
    min-height: 160px !important;
}
.p-right{
    padding-right: 10px;
}
.p-bottom{
    position: absolute !important;
    bottom: 10px;
    left: 5px;
}
.p-bottom a{
    color: #4a8b41;
}
.p-bottom a:hover{
    color: #27691f;
}
.p-option a{
    color: #4a8b41;
}
.p-option a:hover{
    color: #27691f;
}
.card-father {
    display: flex;
    align-items: center;
 }
 .accord-width{
     width: 100%;
 }

 .a-size-methods{
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #212529 !important;
 }
 .bg-color-b{
    background-color: #403d38;
    color: #d2d2d2 !important;
 }
 
 .x-close{
     color: #d2d2d2 !important;
 }
.tt-menu{
    border-radius: 8px;
    /* padding: 10px; */
    border: 1px solid #d2d2d2;
    margin-top: 5px;
    background-color: white;
    width: 100%;

}
.tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
}
.tt-suggestion:hover {
    cursor: pointer;
    color: #a8f29e;
    background-color: #403d38;
}
#wishfriend a{
    color: #403d38;
}

.alert-email{
    color: #ffffff !important;
background-color: #7c7c7c !important;
border-color: #646464 !important;
}
/* ---------------------------------------------------------------------------------
   -- resposive design
---------------------------------------------------------------------------------- */
@media (max-width: 576px) {
    .img-product{
        width: 160px !important;
        height: 160px;
        margin-top: 10px;
    }
    .h-card{
        max-width: 100%;
    }
    .h-card-address{
        max-width: 100%;
        min-height: 211px;
    }
    .p-right{
        padding-right: 0px;
    }
}